<html>
{% extends 'base.html' %}
{% block pagetitle %}
AI Engine
{% endblock pagetitle %}

{% block body %}
<div>
    <div class="container">
        <!-- For demo purpose -->
        <div class="row mb-5 text-center text-white">
            <div class="col-lg-10 mx-auto">
                <h1 class="display-4" style="padding-top: 2%;font-weight: 400;color: rgb(4, 54, 4);"><b>Prediction System</b></h1>
                <p class="lead" style="font-weight: 500;color: black;">Let the System Will Help You To predict Disease</p>
            </div>
        </div>
        <!-- End -->
        <div class="row ">
            <div class="col mx-auto">
                <div class="p-5 bg-white shadow rounded-lg" style="height: 95%;">

                    <h5><b>Why is it necessary to detect disease in plant ?</b></h5>
                    <p>Disease damage to rice can greatly reduce yield. They are mainly caused by bacteria, viruses, or fungi. Planting a resistant variety is the simplest and, often, the most cost effective management for diseases.
                    </p>
                </div>
            </div>
            <div class="col mx-auto">
                <div class="p-5 bg-white shadow rounded-lg" style="height: 95%;"><img
                        src="https://static.wixstatic.com/media/95dc86_030dadbda19246748c5e5ccf5aa39e92~mv2.jpg/v1/fill/w_640,h_800,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/95dc86_030dadbda19246748c5e5ccf5aa39e92~mv2.jpg"
                        height="300" alt="" width="200" class="d-block mx-auto mb-4 rounded-pill">

                    <!-- Default bootstrap file upload-->

                    <form action="/submit" method="POST" enctype="multipart/form-data">
                        <div class="custom-file overflow-hidden mb-4">
                            <input type="file" id="actual-btn" hidden name="image" />
                            <label for="actual-btn">Choose File</label>
                            <span id="file-chosen">No file chosen</span>
                        </div>

                        <!-- End -->

                        <h6 class="text-center mb-4 text-muted">
                            Simply upload your leaf image and wait untill image is processing.
                        </h6>

                        <!-- Custom bootstrap upload file-->
                        <center>
                            <a class="mx-2"><button type="submit" class="btn btn-outline-success">Submit</button></a>
                        </center>
                    </form>
                    <!-- End -->

                </div>
            </div>
            <div class="col mx-auto">
                <div class="p-5 bg-white shadow rounded-lg" style="height: 95%;">
                    <h5><b>Prevent Plant from Disease, follow below steps:</b></h5>
                    <ol>
                        <li>Follow Good Sanitation Practices.</li>
                        <li>Fertilize to Keep Your Plants Healthy.</li>
                        <li>Inspect Plants for Diseases Before You Bring Them Home.</li>
                        <li>Allow the Soil to Warm Before Planting.</li>
                    </ol>
                    <a target="_blank" href="https://plantvillage.psu.edu/topics/rice/infos"
                        class="mx-2"><button type="button" class="btn btn-outline-success">More info</button></a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const actualBtn = document.getElementById('actual-btn');

    const fileChosen = document.getElementById('file-chosen');

    actualBtn.addEventListener('change', function () {
        fileChosen.textContent = this.files[0].name
    })
</script>

{% endblock body %}
